/.output
/bootstrap
/profile
/offcputime
/oncputime
res.txt
*.o
oncpu.txt
offcpu.txt
FlameGraph
pmumon
test_combined
pmumon_advanced
/demo_results.svg
demo_results.folded
test_program
combined_profile_pid*.svg
combined_profile_pid*.folded
combined_profile_pid*.txt
combined_flamegraph.pl
multithread_combined_profile_pid*
demo_results_single_thread_analysis.txt
test_multithread
perf.data*
double_bandwidth
